body {
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Arial;
}

canvas {
  border: 4px solid black;
  image-rendering: pixelated;
}

#battleUI {
  background: #111;
  padding: 10px;
  width: 512px;
  margin-top: 10px;
}

button {
  margin: 5px;
  padding: 8px;
  background: #ffcc00;
  border: none;
  cursor: pointer;
}
